@media screen and (min-width: 636px) {
    .containerb {
        position: "absolute" !important;
        top: 0;
        left: 18rem;
        width: 60%;
        height: 60%;
        transform: translateY(-3px);

        .Head {
            transform: translateX(-77%);

            span {
                border-radius: 50%;
                background-color: #FF5733;
                font-size: 17px;
                display: inline-block;
                height: 70px;
                line-height: 70px;
                transform: translateY(-6px);
                width: 70px;
            }

            .icon-right {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width: 636px) {
    .containerb {
        right: 18rem;
        top: 0;
        width: 60%;
        height: 60%;
        transform: translateY(0px);

        .Head {
            transform: translateX(280%);

            span {
                border-radius: 50%;
                background-color: #FF5733;
                font-size: 17px;
                display: inline-block;
                height: 50px;
                line-height: 50px;
                width: 50px;
            }

            .icon-right {
                font-size: 15px;
            }
        }
    }
}